@import "./blocks/nav" ;
@import "./blocks/main_header";
@import "./blocks/main_header_down";
@import "./blocks/main_header_end";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
.container{
    width: 100%;
    padding-left: 250px;
    padding-right: 250px;
}

@media (max-width: 448px) {
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (min-width: 449px) and (max-width: 768px) {
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    .container{
        padding-left: 75px;
        padding-right: 75px;
    }
}

