nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 18px;
    padding-bottom: 18px;

    .logo{
        width: 155px;
        height: 70px;
        display: flex;
        justify-content: start;
        align-items: center; 
        gap: 18px;

        h1{
            font-weight: 400;
            font-size: 20px;
            line-height: 38px;
            color: black;
            text-transform: uppercase;
        }

        img{
            width: 50px;
            height: 50px;
        }
    }
    ul{
        display: flex;
        gap: 34px;

        a{
            font-weight: 400;
            color: #404040;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
        }

        a:hover{
            text-decoration: underline;
        }
    }
}

@media (max-width: 448px) {
   nav{
        width: 100%;
        padding-top: 2px;
        padding-bottom: 2px;

        .logo{
            gap: 10px;
            h1{
                font-weight: 400;
                font-size: 11px;
                line-height: 38px;
                color: black;
                text-transform: uppercase;
            }

            img{
                width: 30px;
                height: 30px;
            }

        }

        ul{
            display: flex;
            gap: 10px;
    
            a{
                font-weight: 400;
                color: #404040;
                font-size: 8px;
                line-height: 20px;
                text-transform: uppercase;
            }
        }
   }
}

@media (min-width: 449px) and (max-width: 768px) {
    nav{
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;

        .logo{
            gap: 14px;
            h1{
                font-weight: 400;
                font-size: 14px;
                line-height: 38px;
                color: black;
                text-transform: uppercase;
            }

            img{
                width: 40px;
                height: 40px;
            }

        }

        ul{
            display: flex;
            gap: 10px;
    
            a{
                font-weight: 400;
                color: #404040;
                font-size: 8px;
                line-height: 20px;
                text-transform: uppercase;
            }
        }
   }
}

@media (min-width: 769px) and (max-width: 1200px) {
    nav{
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;

        .logo{
            gap: 16px;
            h1{
                font-weight: 400;
                font-size: 16px;
                line-height: 38px;
                color: black;
                text-transform: uppercase;
            }

            img{
                width: 50px;
                height: 50px;
            }

        }

        ul{
            display: flex;
            gap: 30px;
    
            a{
                font-weight: 400;
                color: #404040;
                font-size: 11px;
                line-height: 20px;
                text-transform: uppercase;
            }
        }
   }
}